.list-box__list-group-item {
  &.active,
  &.active:hover {
    background: @brand-secondary;
    color: @white;
    text-shadow: none;
  }
}

.list-box__list-group-item--selected .badge {
  background: @white;
  color: @brand-secondary;
}
