.progress-bar[aria-valuenow="0"] {
  background-color: transparent;
  background-image: none;
  box-shadow: none;
  color: #777;
  min-width: 30px;
}

.progress-bar[aria-valuenow="1"], .progress-bar[aria-valuenow="2"] {
  min-width: 30px;
}

.progress .progress-bar {
  background-image: linear-gradient(to bottom, @gray-light 0%, @brand-primary 100%);
  background-repeat: repeat-x;
}
